body {
	font-family: Roboto, 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	background-color: #fff;
	margin: 0;
}

h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin-top: .3em;
	margin-bottom: 0;
} 

h2 {
	font-size: 2em;
	line-height: 1.3em;
	font-weight: 700;
	margin-top: .1em;
	margin-bottom: .3em;
	padding-right: 4em;
}

h3 {
	margin: 0;
}

p {
	margin-top: 0;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: .7;
}

.hero {
	text-align: left;
	padding-left: 100px;
	margin-top: 100px;
}

.headline {
	margin-top: 0;
}

.screenshot {
	width: 100%;
	margin-top: 3em;
	overflow: hidden;
}

.screenshot img{
	width: 85%;
}

.buttons {
	font-size: .9em;
	margin-bottom: 100px;
}

.download-button {
	text-align: center;
	font-weight: 900;
	letter-spacing: .02em;
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
	padding: 15px 20px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	display: inline-block;
	min-width: 160px;
	margin-top: 2.5em;
	text-transform: uppercase;
}

.button {
	text-align: center;
	font-weight: 900;
	letter-spacing: .02em;
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	padding: 15px 20px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	display: inline-block;
	min-width: 160px;
	margin-top: 2.5em;
	margin-left: .5em;
	text-transform: uppercase;
}

.copy {
	width: 100%;
	height: auto;
}

.bullets {
	width: 66%;
	background: #000;
	min-height: 600px;
	display: inline-block;
}

.bullets h3, p {
	color: #fff;
	line-height: 1.6;
}

.bullets p {
	margin-bottom: 4em;
}

.bullets-copy {
	margin-top: 3.5em;
	margin-left: 100px;
	width: 440px;
	padding-right: 40px;
}

.pattern {
	width: 34%;
	background-color:#000;
	background-image: radial-gradient(white 15%, transparent 16%),
	radial-gradient(white 15%, transparent 16%);
	background-size: 120px 120px;
	background-position: 0 0, 60px 60px;
	min-height: 720px;
	overflow: hidden;
	display: inline-block;
	float: right;
}

.footer {
	text-align: center;
	font-size: .7em;
	line-height: 1.7em;
	color: #000;
	margin-top: 0;
	margin-bottom: 4em;
}

.footer p {
	color: #000;
}

.footer a {
	color: #000;
	text-decoration: underline;
}

.footer a:visited {
	color: #000;
}

.credits {
	width: 63%;
	display: inline-block;
}


/* Media Queries */
/* Tablet */
@media (max-width: 768px) and (min-width: 641px) {
	
.hero {
	padding-left: 50px;
}

.bullets-copy {
	margin-left: 50px;
}

}

/* Mobile */
@media (max-width: 640px) and (min-width: 481px) {  
  
  

}

/* Mobile */
@media (max-width: 480px) and (min-width: 0px) {  

h1 {
	font-size: 5em;
} 

h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

.hero {
	text-align: left;
	padding-left: 40px;
	margin-top: 50px;
}

.headline {
	padding-right: 30px;
}

.buttons {
	font-size: .9em;
	margin-bottom: 50px;
	padding-right: 40px;
}

.download-button {
	text-align: center;
	font-weight: 900;
	letter-spacing: .02em;
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
	padding: 15px 20px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	display: block;
	min-width: 160px;
	margin-top: 1em;
	text-transform: uppercase;
}

.button {
	text-align: center;
	font-weight: 900;
	letter-spacing: .02em;
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	padding: 15px 20px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	display: block;
	min-width: 160px;
	margin-top: 1em;
	margin-left: 0;
	text-transform: uppercase;
}

.copy {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}

.bullets {
	width: 100%;
	background: #000;
	min-height: 600px;
	display: block;
	float: left;
}

.bullets-copy {
	margin-top: 3.5em;
	margin-left: 40px;
	padding-right: 30px;
	display: block;
	width: auto;
}

.pattern {
	width: 100%;
	background-color:#000;
	background-image: radial-gradient(white 15%, transparent 16%),
	radial-gradient(white 15%, transparent 16%);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
	min-height: 120px;
	overflow: hidden;
	display: block;
}


  
}